/* CAROUSEL 
#carousel {
    height: 600px;
    width: 1000px;
    margin: 50px auto;
    position: relative;
  }
  
  .gallery {
    position: relative;
  }
  
  .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: none;
  }
  
  .gallery .caption {
    display: none;
  }
  
  .gallery img.active,
  .gallery .caption.active {
    display: block;
  }
  
  .caption {
    position: absolute;
    bottom: 0;
    left: 15px;
  }
  
  .caption h3,
  .caption p {
    text-shadow: 0 0 5px black;
  }
  
  /* BUTTONS */
  
  #carousel .fa-solid {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  #carousel .fa-solid:hover {
    color: dodgerblue;
  }
  
  #prev {
    right: 103%;
  }
  
  #next {
    left: 103%;
  }